<div class="container" id="books">
<div class="container-fluid text-center">    
  <div class="jumbotron" style="background:transparent url('../public/img/bookback.jpg') center center /cover">
    <h1 class="display-4">Quarantine Coffee Book Nook</h1>
    <p class="lead">
      
    </p>
  </div>

  <div class="row content mx-auto justify-content-center">

    <div class="col-sm-3 sidenav text-dark text-left">
      <a href="../public/ebooks/alice.html" target="demo"><button>Alice in Wonderland</button></a>
      <a href="../public/ebooks/sherlock.html" target="demo"><button>The Adventures of Sherlock Holmes</button></a>
      <a href="../public/ebooks/tomsawyer.html" target="demo"><button>The Adventures of Tom Sawyer</button></a>
      <a href="../public/ebooks/christmascarol.html" target="demo"><button>A Christmas Carol</button></a>
      <a href="../public/ebooks/countofmontecristo.html" target="demo"><button>The Count of Monte Cristo</button></a>
      <a href="../public/ebooks/dollshouse.html" target="demo"><button>A Doll's House</button></a>
      <a href="../public/ebooks/dracula.html" target="demo"><button>Dracula</button></a>
      <a href="../public/ebooks/frankenstein.html" target="demo"><button>Frankenstein</button></a>
      <a href="../public/ebooks/grimms.html" target="demo"><button>Grimms' Fairy Tales</button></a>
      <a href="../public/ebooks/ion.html" target="demo"><button>Ion</button></a>
      <a href="../public/ebooks/littlewomen.html" target="demo"><button>Little Women</button></a>
      <a href="../public/ebooks/metamorphosis.html" target="demo"><button>Metamorphosis</button></a>
      <a href="../public/ebooks/mobydick.html" target="demo"><button>Moby Dick</button></a>
      <a href="../public/ebooks/modestproposal.html" target="demo"><button>A Modest Proposal</button></a>
      <a href="../public/ebooks/doriangray.html" target="demo"><button>The Picture of Dorian Gray</button></a>
      <a href="../public/ebooks/prideandprejudice.html" target="demo"><button>Pride and Prejudice</button></a>
      <a href="../public/ebooks/soulsofblackfolk.html" target="demo"><button>The Souls of Black Folk</button></a>
      <a href="../public/ebooks/jekyllandhyde.html" target="demo"><button>The Strange Case of Dr. Jekyll and Mr. Hyde</button></a>
      <a href="../public/ebooks/taleoftwocities.html" target="demo"><button>A Tale of Two Cities</button></a>
      <a href="../public/ebooks/treasureisland.html" target="demo"><button>Treasure Island</button></a>
      <a href="../public/ebooks/ulysses.html" target="demo"><button>Ulysses</button></a>
      <a href="../public/ebooks/walden.html" target="demo"><button>Walden, and On The Duty Of Civil Disobedience</button></a>
      <a href="../public/ebooks/warandpeace.html" target="demo"><button>War and Peace</button></a>
      <a href="../public/ebooks/edgarallanpoe.html" target="demo"><button>The Works of Edgar Allan Poe</button></a>  
     
    </div>

    <div class="col-sm-7 text-left bg-secondary" id="gifs-appear-here"> 
      <p id="bookpage">Our bookshelf is stocked with public domain classics from Project Gutenberg. Feel free to browse them, and maybe even find one to read while you enjoy the atmosphere!</p>
      <iframe name="demo" src="" width="99%" height="580"></iframe>
    </div>

    <div class="col-sm-2 sidenav" style="background:transparent url('../public/img/books2.jpg') center center /cover">
      <span><iframe width="20" height="20" src="https://www.youtube.com/embed/jBNoFk03vWk?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>   
    </div>

</div>
</div>